git+https://github.com/toastdriven/django-tastypie.git@a57d85b77b65099a077b5aab795e6cfb47617cb8
git+https://github.com/dstufft/twelve.git@5966d90f41ad88d2e43e86f5e95fe1394ba902ce

warehouse==0.1.6

django-storages==1.1.4
boto==2.5.2

greenlet==0.4.0
gevent==0.13.7
gunicorn==0.14.5
